



body {
  background-color:#005B41;
  color:white;
}
#title {
  text-align:center;
  padding-top:14px;
  font-style:sans-serif;
  
  
  
}
#description {
  margin-top:0;
  text-align:center;
  font-style:italic;
  
}

#survey-form {
  width:68%;
  margin:40px auto;
  padding:33px;
  margin-top:0px;
  background-color:#0F0F0F;
  border-radius: 5px;
}

fieldset {
  border:none;
  width:90%;
  padding:15px 0;
}

label,fieldset:first-child input,select,#submit {
  display:block;
  width:100%;
  border-radius: 5px;
}
