
body {
  background-color:#005B41;
  color:white;
}
#title {
  text-align:center;
  padding-top:14px;
  font-style:sans-serif;
  
  
  
}
#description {
  margin-top:0;
  text-align:center;
  font-style:italic;
  
}

#survey-form {
  width:68%;
  margin:40px auto;
  padding:33px;
  margin-top:0px;
  background-color:#0F0F0F;
  border-radius: 5px;
}

fieldset {
  border:none;
  width:90%;
  padding:15px 0;
}

label,fieldset:first-child input,select,#submit {
  display:block;
  width:100%;
  border-radius: 5px;
}

textarea {
  margin-top:5px;
  display:block;
  width:100%;
  
}


fieldset:first-child input,select {
  margin:3px 0;
  padding:7px;
  
}

fieldset:first-child label {
  margin:11px 0;
}


fieldset:nth-child(2) label {
  margin:10px 0;
}

fieldset:nth-child(2) input {
  margin:0;
}

#submit {
  width:100%;
  background-color:#008170;
  margin:20px 0;
  border:none;
  height:31px;
  font-size:17px;
  color:white;
}





















