

body {
  background-color:#008170;
  color:white;
}
#title {
  text-align:center;
  padding-top:34px;
  
  margin-bottom:28px;
  
  
}
#description {
  margin-top:0;
  text-align:center;
  font-style:italic;
  
}

#survey-form {
  width:68%;
  margin:40px auto;
  padding:33px;
  background-color:yellow ;
  border-radius: 5px;
}

fieldset {
  border:none;
  width:90%;
  padding:15px 0;
}




label,fieldset:first-child input,select,#submit {
  display:block;
  width:100%;
  border-radius: 5px;
}
